version: "3.7"
services:
    app:
        container_name: laravel-shop
        build: .
        image: php:8.3-fpm
        volumes:
            - ./:/var/www/html
        working_dir: /var/www/html
        command: php artisan serve --host=0.0.0.0 --port=8000
        ports:
            - "8000:8000"
    db:
        image: mysql:5.7
        platform: linux/amd64
        environment:
            MYSQL_DATABASE: docker
            MYSQL_USER: root
            MYSQL_PASSWORD: 1Qaz2Wsx
            MYSQL_ROOT_PASSWORD: 1Qaz2Wsx
        ports:
            - "3306:3306"
    webserver:
        image: nginx:alpine
        volumes:
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
            - ./:/var/www/html
        ports:
            - "8080:80"
        depends_on:
            - app
